definitions:
  http_response.ErrResponse:
    properties:
      error:
        type: string
    type: object
  transport.AuthResult:
    properties:
      email:
        type: string
      expires:
        type: string
      token:
        type: string
      user_id:
        type: string
    type: object
  transport.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  transport.RegisterRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
info:
  contact: {}
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Выполняет вход пользователя и возвращает JWT токен
      parameters:
      - description: Данные для входа
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/transport.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешный вход
          schema:
            $ref: '#/definitions/transport.AuthResult'
        "400":
          description: Некорректные данные
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "401":
          description: Неверные учетные данные
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "415":
          description: Неверный Content-Type
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Аутентификация пользователя
      tags:
      - auth
  /auth/logout:
    post:
      description: Очищает JWT токен из cookies
      produces:
      - application/json
      responses:
        "200":
          description: Успешный выход
          schema:
            additionalProperties:
              type: string
            type: object
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Выход из системы
      tags:
      - auth
  /auth/refresh:
    post:
      description: Обновляет access token с помощью refresh token из cookies
      produces:
      - application/json
      responses:
        "200":
          description: Токен успешно обновлен
          schema:
            $ref: '#/definitions/transport.AuthResult'
        "401":
          description: Невалидный или отсутствующий токен
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Обновление JWT токена
      tags:
      - auth
  /auth/signup:
    post:
      consumes:
      - application/json
      description: Создает нового пользователя и возвращает JWT токен
      parameters:
      - description: Данные для регистрации
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/transport.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная регистрация
          schema:
            $ref: '#/definitions/transport.AuthResult'
        "400":
          description: Некорректные данные
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "409":
          description: Пользователь уже существует
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "415":
          description: Неверный Content-Type
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Регистрация нового пользователя
      tags:
      - auth
swagger: "2.0"
