services:
  store_service:
    build:
      context: .
      dockerfile: ./store_service/Dockerfile
    container_name: store_service
    ports:
      - "8080:8080"
    env_file:
      .env
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    container_name: store_db
    env_file:
      .env
