services:
  db:
    image: postgres:18-alpine
    container_name: db
    env_file: [ .env ]
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: 5432
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 2s
      timeout: 2s
      retries: 10
    restart: unless-stopped
    command: >
      postgres  -c log_destination=stderr -c logging_collector=on -c log_statement=all -c log_connections=on -c log_disconnections=on

  migrator:
    image: ghcr.io/jackc/tern:latest
    container_name: migrator
    depends_on:
      db:
        condition: service_healthy
    working_dir: /migrations
    volumes:
      - ./db/migrations:/migrations
    env_file: [ .env ]
    command: [ "migrate", "-m", "/migrations", "-c", "/migrations/tern.conf", "up" ]
    restart: "no"
    environment:
      - TERN_DEBUG=true

  auth_service:
    build:
      context: .
      dockerfile: ./auth_service/Dockerfile
    container_name: auth_service
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    ports:
      - "${AUTH_PORT}:${AUTH_PORT}"
    env_file: [ .env ]
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      APP_PORT: "${AUTH_PORT}"
      SECRET_KEY: ${SECRET_KEY}
      CSRF_SECRET: ${CSRF_SECRET}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      COOKIE_SECURE: ${COOKIE_SECURE}
      COOKIE_SAMESITE: ${COOKIE_SAMESITE}
    restart: unless-stopped
    labels:
      - "service.type=auth"
      - "log.format=json"

  profile_service:
    build:
      context: .
      dockerfile: ./profile_service/Dockerfile
    container_name: profile_service
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    ports:
      - "${PROFILE_SERVICE_PORT}:${PROFILE_SERVICE_PORT}"
    env_file: [ .env ]
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_PORT: ${DB_PORT}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PROFILE_SERVICE_PORT: "${PROFILE_SERVICE_PORT}"
      UPLOAD_PATH: ${UPLOAD_DIR:-/app/avatars}
      BASE_URL: http://localhost:${PROFILE_SERVICE_PORT}
      SECRET_KEY: ${SECRET_KEY}
      CSRF_SECRET: ${CSRF_SECRET}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      COOKIE_SECURE: ${COOKIE_SECURE}
      COOKIE_SAMESITE: ${COOKIE_SAMESITE}
    volumes:
      - ./.data/avatars:/app/avatars
    restart: unless-stopped
    labels:
      - "service.type=profile"
      - "log.format=json"

  store_service:
    build:
      context: .
      dockerfile: ./store_service/Dockerfile
    container_name: store_service
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
      auth_service:
        condition: service_started
    ports:
      - "${STORE_SERVICE_PORT}:${STORE_SERVICE_PORT}"
    env_file: [ .env ]
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_PORT: ${DB_PORT}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      APP_PORT: "${STORE_SERVICE_PORT}"
      AUTH_URL: http://auth_service:${AUTH_PORT}
      SECRET_KEY: ${SECRET_KEY}
      CSRF_SECRET: ${CSRF_SECRET}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      COOKIE_SECURE: ${COOKIE_SECURE}
      COOKIE_SAMESITE: ${COOKIE_SAMESITE}
    volumes:
      - ./uploads/stores:/app/stores
      - ./uploads/items:/app/items
    restart: unless-stopped
    labels:
      - "service.type=store"
      - "log.format=json"

  order_service:
    build:
      context: .
      dockerfile: ./order_service/Dockerfile
    container_name: order_service
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
      auth_service:
        condition: service_started
    ports:
      - "${ORDER_SERVICE_PORT}:${ORDER_SERVICE_PORT}"
    env_file: [ .env ]
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_PORT: ${DB_PORT}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      APP_PORT: "${ORDER_SERVICE_PORT}"
      AUTH_URL: http://auth_service:${AUTH_PORT}
      SECRET_KEY: ${SECRET_KEY}
      CSRF_SECRET: ${CSRF_SECRET}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      COOKIE_SECURE: ${COOKIE_SECURE}
      COOKIE_SAMESITE: ${COOKIE_SAMESITE}
    restart: unless-stopped
    labels:
      - "service.type=order"
      - "log.format=json"

  dozzle:
    image: amir20/dozzle:latest
    container_name: doozle
    ports:
      - "${DOZZLE_PORT}:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DOZZLE_NO_ANALYTICS=true

volumes:
  db_data: {}
