definitions:
  ProfileResponse:
    properties:
      address:
        type: string
      avatar_url:
        type: string
      city_id:
        type: string
      created_at:
        type: string
      email:
        type: string
      id:
        type: string
      name:
        type: string
      phone:
        type: string
      updated_at:
        type: string
    type: object
  UpdateProfileRequest:
    properties:
      address:
        type: string
      avatar_url:
        type: string
      city_id:
        type: string
      name:
        type: string
      phone:
        type: string
    type: object
  http_response.ErrResponse:
    properties:
      error:
        type: string
    type: object
info:
  contact: {}
paths:
  /profiles/{id}:
    delete:
      consumes:
      - application/json
      description: Удаляет профиль пользователя по UUID
      parameters:
      - description: UUID пользователя
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: Профиль успешно удален
        "400":
          description: Некорректный ID
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Профиль не найден
          schema:
            additionalProperties:
              type: string
            type: object
        "405":
          description: Неверный HTTP-метод
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Внутренняя ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Удалить профиль
      tags:
      - profiles
    get:
      consumes:
      - application/json
      description: Возвращает информацию о профиле пользователя по его UUID
      parameters:
      - description: UUID пользователя
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ProfileResponse'
        "400":
          description: Некорректный ID
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "404":
          description: Профиль не найден
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Получить профиль по ID
      tags:
      - profiles
    put:
      consumes:
      - application/json
      description: Обновляет информацию о профиле пользователя
      parameters:
      - description: UUID пользователя
        in: path
        name: id
        required: true
        type: string
      - description: Данные для обновления профиля
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/UpdateProfileRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Профиль успешно обновлен
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Ошибка входных данных
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "404":
          description: Профиль не найден
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Обновить профиль
      tags:
      - profiles
  /profiles/{id}/avatar:
    post:
      consumes:
      - multipart/form-data
      description: Загружает аватарку для профиля пользователя
      parameters:
      - description: UUID пользователя
        in: path
        name: id
        required: true
        type: string
      - description: Файл аватарки
        in: formData
        name: avatar
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Ошибка входных данных или файла
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "404":
          description: Профиль не найден
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "405":
          description: Неверный HTTP-метод
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_response.ErrResponse'
      summary: Загрузить аватарку
      tags:
      - profiles
swagger: "2.0"
